*{
padding:0;
margin:0;
box-sizing: border-box;
}

#root{
<<<<<<< Updated upstream
  min-height: 100vh;
  display: flex;
}
=======
min-height: 100vh;
display: flex;
}
szdxgfchghg
>>>>>>> Stashed changes
